.maincontainerslide{
    width: 80%;
    height: 90%;
    margin-top: 50px;
    margin-left: 180px;
}
.movieboxcontainer {
    position: relative;
    text-align: center;
}
.image:hover{
    transform: scale(1.05);
    animation: boxshadow 1s infinite alternate;
}
.image {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

@keyframes boxshadow {
    100%{
        box-shadow: 1px 1px white;
    }
    50%{
        box-shadow: 2px 2px yellow;
    }
    0%{
        box-shadow: 1px 1px white;
    }
  }